
.container-slider-root {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 20em;
    width: 100%;
    scroll-snap-type: x mandatory;
    user-select: none;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.arrow-left-container {
    position: absolute;
    top: calc(50% - 2em);
    left: 0;
    width: 4em;
    height: 4em;
    z-index: 1;
    opacity: 0.5;
}

.arrow-right-container {
    position: absolute;
    top: calc(50% - 2em);
    right: 0;
    width: 4em;
    height: 4em;
    z-index: 999;
    opacity: 0.5;
}

.container-items {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    border: 2px solid #e0c7e4;
    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;
}

.container-items > div {
    width: 90%;
    height: 70%;
    margin: 0 auto;
    padding: 20px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-items > div:hover {
box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
transform: scale(1.05);
}

.container-items > span {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    color: #e0c7e4;
    text-align: center;
    text-align: center;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.container-items > div:hover + span {
    color: #b397c7;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
/* 
.container-items > span {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    color: #e0c7e4;

} */